<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Práctica No. 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Archivo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <p class="dropdown-item" (click)="agregarTabs()">Nuevo Pestaña</p>
          <p class="dropdown-item" >Abrir Documento</p>
          <p class="dropdown-item" >Guardar Como</p>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Práctica No. 2</h1>
        <p class="lead">Organización de Lenguajes y Compiladores 1</p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col" style="height: 400px;">
      <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let data of tabs">
          <a class="nav-link" data-toggle="tab" href="#Tab{{data}}">Pestaña No. {{data}}</a>
      </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane" id="Tab{{data}}" *ngFor="let data of tabs">
            <form>
            <div class="form-group">
              <textarea #textArea class="form-control" id="exampleFormControlTextarea1" rows="12" placeholder="Editor de Texto"></textarea>
            </div>
            <button type="button" class="btn btn-outline-dark" (click)="obtenerTexto(textArea.value)"
            data-toggle="popover" title="Analizar" data-content="Al presionar analiza lexicamente y sintacticamente el codigo fuente.">Analizar</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col" style="height: 400px;">
      <div class="form-group" style="height: 100%;">
        <textarea style="height: 100%;" class="form-control" id="exampleFormControlTextarea2" rows="10" placeholder="Consola"></textarea>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <h1 class="display-4">Tabla de Variables</h1>
      <hr>
      <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#TabHTML">HTML</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#TabJSON">JSON</a>
      </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane" id="TabHTML">
            <form>
            <div class="form-group">
              <textarea #textAreaHTML class="form-control" id="exampleFormControlTextareaHTML" rows="12" placeholder="Editor de HTML"></textarea>
            </div>
            </form>
          </div>
          <div class="tab-pane" id="TabJSON">
            <form>
            <div class="form-group">
              <textarea #textAreaJSON class="form-control" id="exampleFormControlTextareaJSON" rows="12" placeholder="Editor de JSON"></textarea>
            </div>
            </form>
          </div>
      </div>
    </div>
  </div>
</div>