<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Práctica No. 2</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Archivo
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Nuevo Pestaña</a>
          <a class="dropdown-item" href="#">Abrir Documento</a>
          <a class="dropdown-item" href="#">Guardar Como</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Práctica No. 2</h1>
        <p class="lead">Organización de Lenguajes y Compiladores 1</p>
    </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
      <li class="nav-item" *ngFor="let data of tabs">
          <a class="nav-link" data-toggle="tab" href="#Tab{{data}}">Pestaña No. {{data}}</a>
      </li>
      </ul>
      <div class="tab-content">
          <div class="tab-pane" id="Tab{{data}}" *ngFor="let data of tabs">
            <form>
            <div class="form-group">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="10" placeholder="Editor de Texto"></textarea>
            </div>
            <button type="button" class="btn btn-outline-dark">Analizar</button>
            </form>
          </div>
      </div>
    </div>
    <div class="col">
      <div class="terminal" style="width: 100%;">
          <pre>Aliqua ex deserunt incididunt occaecat. Esse labore velit tempor sint veniam cupidatat sunt fugiat ea adipisicing non elit. Ullamco aute ullamco adipisicing aute. Minim id minim exercitation proident in ad dolore dolor esse cupidatat tempor consectetur do laborum.

Eu est est ad sit tempor do. Sunt nostrud adipisicing consequat voluptate ex voluptate commodo anim excepteur mollit. Et cillum pariatur non ut fugiat culpa fugiat.

Exercitation adipisicing cillum velit occaecat incididunt ipsum adipisicing incididunt et nostrud sunt eu. Dolore id occaecat sint nisi ipsum ea veniam amet. Consectetur qui esse nisi fugiat. Dolore ut eu esse sit consectetur sunt elit tempor. Non consequat fugiat dolor reprehenderit amet Lorem. Est dolor minim velit culpa ipsum laborum exercitation reprehenderit.

Magna enim irure commodo sit. Ea commodo qui amet qui ut aliqua Lorem nulla nisi anim dolore duis. Fugiat incididunt deserunt aliqua tempor non eu ut qui do dolor. Excepteur aute velit in est veniam eiusmod velit sint. Velit exercitation occaecat nulla adipisicing et do sint esse et proident excepteur reprehenderit sit. Esse dolor esse labore adipisicing culpa sit duis dolore. Commodo adipisicing dolore deserunt sint.

Et velit voluptate duis sint sunt commodo ut sint labore sunt nisi exercitation dolore. Ex tempor ut incididunt anim tempor ut incididunt ea velit. Amet sit sit fugiat sint. Eiusmod consectetur consectetur proident culpa voluptate consequat. Irure id tempor sit mollit commodo sint exercitation dolor dolore aliquip amet nisi incididunt. Elit velit voluptate pariatur in. Fugiat proident labore incididunt ad consequat veniam occaecat adipisicing cillum adipisicing nulla ex ex.

Sunt consectetur ea culpa tempor ad nisi eiusmod consequat laborum elit. Cupidatat Lorem nisi velit ad aute est et commodo. Deserunt laboris nostrud ullamco fugiat magna mollit.

Est dolor Lorem excepteur nulla commodo exercitation nulla veniam dolor in. Nulla ad ut deserunt fugiat deserunt qui veniam ad mollit anim dolore ad duis. Velit dolor minim sint incididunt ut aute. Minim non est proident fugiat excepteur. Est excepteur officia ex pariatur mollit laboris adipisicing. Sit duis magna labore eiusmod dolore ut commodo anim sunt irure reprehenderit occaecat nisi.</pre>
      </div>
    </div>
  </div>
</div>